<section class="container-fluid  row bg-warning">
    <div class="col-md-4"> 
        <h3 class="text-white"> About us</h3>
        <br class="text-white">
        <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla quisquam dignissimos, eos architecto corporis quo.</p>
        <br>
        <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis harum quas, aliquid, ratione veritatis aut ea, corporis repellat illum et quos necessitatibus? Aliquam aperiam culpa dolores ratione consectetur quo natus.</p>

    </div>
    <div class="col-md-4"> 
        <h3 class="text-white"> Contact us</h3>
        <br>
        <br>
        <input type="email" placeholder="Enter your email address">
        <br>
        <br>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <br><br>
        <a href=""class="btn-info btn " > Send message </a>

    </div>
    <div class="col-md-4"> 

        <H3 class="text-white">Stay connected</H3>
        <br><br>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae at, ea alias dolore deserunt veniam ipsa impedit nam dolorem saepe error sapiente reiciendis a ducimus delectus necessitatibus commodi doloribus deleniti!</p>

    </div>

    

</section>
 <section class="row text-center bg-dark p-4 text-white">
    <footer>
        Developed by X. 2024 . All right reserved
    </footer>

 </section>