<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- BS files -->
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">
    <script src="../static/files/js/bootstrap.js"></script>

</head>
<body>

    
    <div class="container-fluid">
        <!-- Include navbar -->
        {% include 'navbar.html'  %}

        <!-- include carousel here -->
        {% include 'carousel.html' %}



    </div>
 
    
</body>
</html>