<section class="row">
    <div class="col-md-12">
       <nav class="navbar navbar-expand-md navbar-light btn-light p-3">
               <a href="#" class="navbar-brand">Soko <b class="text-success">Garden</b></a>
               <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                   <span class="navbar-toggler-icon"></span>
              </button>

               <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                         <a href="/" class="nav-item nav-link">Home</a>
                         <a href="/upload" class="nav-item nav-link">Sell on Sokogarden</a>
                        cccc
                    </div>
                   <div class="ms-auto d-flex">
                    <!--    TODO Logout-->
                    <!-- check if user has session -->

                    <!-- if they have sessions, show tyhem the email and log out button -->

                    {% if  session['key']%}

                        <b class="text-warning">  Hello,  {{session['key']}}</b>

                        <a href="/logout" class="btn btn-primary ms-2">log out</a>


                    {% else%}

                     <!-- it means the user has no session -->
                        <a href="/login" class="btn btn-outline-primary">log in</a>
                        
                        <a href="/register" class="btn btn-primary ms-2">Register</a>

                    {%endif%}

                   </div>

               </div>
       </nav>
    </div>
</section>
