<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">

</head>
<body>
   {% include 'navbar.html' %}
 
   <div class="container-fluid">

 <section class="row ">
  

    <div class="col-md-6">
        <img src="../static/images/{{ product[5]}}" alt="" width="90%">

    </div>

    <div class="col-md-6">
        <h4 class="text-warning"> {{ product[1]}} </h4>

        <h4> Ksh{{ product[3]}}</h4>

        <p>{{ product[2]}}</p>
        <br><br>
       <!-- check if user has session -->
       <!-- if user has session it means they have logged in -->
       <!-- hence the suer can make purchase -->

       {% if session ['key']%}


       <!-- display a from to make purchase -->
           <form action="/mpesa" method="post">
            <input type="number" class="form-control" placeholder="Enter your phone number +254xxxx" name="=phone">
            <br>
            <label for="">To pay kes</label>
            
            <input type="number" class="form-control" value="{{ product[3]}}" name="Amount" readonly>
            <br>

            <input type="submit" class="btn btn-warning" value="Buy now">

           </form>
       {% else%}
        <!-- it means the user doesnt have a session -->
        <!-- Means they are not logged in -->
            <h2 class="text-warning"> Please login to make purchse</h2>
            <a href="/login" class="btn btn-sm btn-dark">Login</a>

       {%endif%}

    </div>

 </section>
</div>
</body>
</html>